/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|News+Cycle');

body {
	background: url('bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.listing {
	font-size: 40px;
	color: #680101;
	font-family: helvetica;
	font-family: 'News Cycle', sans-serif;
}

.link {
	margin: 160px 0 0 0;
	text-align: center;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
	transition: 2s;
}

.link:hover {
	font-size: 110px;
	transition: 2s;
}

a {
	color: #075077;
	animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'News Cycle', sans-serif;
}

a:link { 
	text-decoration: none; 
	font-family: 'News Cycle', sans-serif;
}

@keyframes flash {
    from {
    	color: #075077;
    }
    to {
    	color: #58abd8;
    }
}

.wrapper {
	text-align: center;
}

.addArticle {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
}

table {
	width: 80%;
	margin: 30px 10%;
	height: 400px;
	overflow: scroll;;
	background-color: #FFFFFF;
	opacity: .3;
	border-radius: 10px;
}

th {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: #bf0000;
}

td {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	color: black;
}
