/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|News+Cycle');

body {
	background: url('bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Dancing Script', cursive;
}

h2 {
	font-family: 'News Cycle', sans-serif;
}

.link {
	margin: 160px 0 0 0;
	text-align: center;
	font-size: 100px;
	transition: 2s;
}

.link:hover {
	font-size: 110px;
	transition: 2s;
}

.listing {
	font-size: 35px;
}

.add {
	font-size: 20px;
	font-family: 'News Cycle', sans-serif;
}

a { 
	text-decoration: none; 
	color: #075077;
}

h1 a {
	color: #075077;
	animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h1 a:link { 
	text-decoration: none; 
}

@keyframes flash {
    from {
    	color: #075077;
    }
    to {
    	color: #58abd8;
    }
}

.wrapper {
	text-align: center;
}

table {
	width: 80%;
	margin: 30px 10%;
	height: 400px;
	overflow: scroll;;
	background-color: #FFFFFF;
	opacity: .3;
	border-radius: 10px;
}

th {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: #bf0000;
}

td {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	color: black;
}

.newArticleInput {
	font-size: 20px;
	font-family: 'News Cycle', sans-serif;
}
